.viewSwitcher{
    margin-top: 20px;
    margin-right: 33px;
    display: flex;
    justify-content: flex-end;
}

.blockView{
    background-color: #fff;
    border: none;
}

.tableView{
    background-color: #fff;
    border: none;
}


table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 90%;
    margin: 0 auto;
    

    td {
        text-align: left;
        padding: 8px;
      }
  }

  
