body{
    margin: 0;
    padding: 0;
}

.navbar {
    background: rgba(122, 96, 96, 0.6);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    width: 100%;
}

.links{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    margin: 0 35px;


    a {
        color: #fff;
        text-decoration: none;
        font-size: 36px;
    }
}

.navbar-icons{
    width: 100px;
    display: flex;
    justify-content: space-between;

}

.cart-link{
  width: 130px;
  display: flex;
}

.cart-length{
  font-size: 16px;
}

.favorite-link{
  width: 130px;
  display: flex;
}

.favorite-length{
  font-size: 16px;
}

